
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
    height: 100%;
  }

  body {
    @apply bg-background text-foreground antialiased dark:bg-background dark:text-foreground;
    font-family: 'Inter', sans-serif;
    height: 100%;
    overflow-x: hidden;
  }

  #root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
}
